/* Outer box styling */

  /* Inner box styling */
  .inner-box {
    background-color: #181818; /* Light gray inner box */
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .inner-box h2 {
    text-align: center;
  }
  
  /* Form field styling */
  form label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: white;
    background-color: #181818;
  }
  
  form input {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form button {
    width: 100%;
    padding: 10px;
    background-color: #e50914; /* Netflix red */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  .sign-in-link {
    color: white;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
  }

  .sign-in-link:hover {
    color: #e50914;
  }
 

  .center-content button {
    background: #181818;
  }

/* Sign-in form styling */
.sign-in-form {
    max-width: 440px;
    margin: 0 auto;
    padding: 20px;
    background-color: #181818;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .sign-in-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .sign-in-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: white;
  }
  
  .sign-in-form input {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .sign-in-form button {
    width: 100%;
    padding: 10px;
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  